.carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.drink-info {
  width: 50%;
  padding: 0 1rem;
}

.drink-image {
  width: 50%;
  padding: 0 1rem;
}

.drink-image img {
  max-width: 100%;
  height: auto;
}